---
---

$font-size: 26px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'contrastregular';
  src: url('../fonts/contrast-webfont.eot');
  src: url('../fonts/contrast-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/contrast-webfont.woff2') format('woff2'),
       url('../fonts/contrast-webfont.woff') format('woff'),
       url('../fonts/contrast-webfont.ttf') format('truetype'),
       url('../fonts/contrast-webfont.svg#contrastregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "contrastregular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;;
  -webkit-font-smoothing: antialiased;
  background-attachment: fixed;
}

.home, .page {
  padding: 20px;
}

#background-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url("../images/bird-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: .4;
}​

.page h2, .content .item h2 {
  margin-bottom: 15px;
  font-size: $font-size;
  font-weight: normal;
}

h2, p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: $font-size;
  font-weight: normal;
}

h2:first-child, p:first-child {
  margin-top: 0;
}

.clearer {
  clear: both;
}

.rating {
  filter: grayscale(100%);
}

header {
 display: flex;
 flex-direction: row;
}

#my-bird {
  background-image: url("../images/bird.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: block;
  // border-radius: 20px;
  width: 180px;
  height: 210px;
  margin-right: 20px;
  // border: 1px solid #000;
  cursor: pointer;
}

#my-bird:hover {
  filter: contrast(70%);
}

a#button {
  border: 1px solid #000;
  padding: 10px;
  color: #000;
  display: inline-block;
  text-decoration: none;
}

a#button:hover {
  background: #fff;
}
