---
---

$font-size: 21px;

.home-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar {
  float: left;
}

.content {
  margin-top: 20px;
  position: relative;
}

.content .item {
  float: left;
  margin: 0 60px 60px 0;
  width: 180px;
  height: 60px;
  text-decoration: none;
  color: #000;
}

.content .item h2 a {
  border-bottom: 3px solid transparent;
  color: #000;
  text-decoration: none;
}

.content .item h2 a:hover {
  border-bottom: 3px solid #678191;
}

.sidebar {
  width: 100%;
}

.sidebar input {
  background-color: #f7f7f6;
  color: #000;
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 44px;
  border: 1px solid #000;
  font-family: 'contrastregular';
}

.sidebar input::placeholder {
  color: #000;
}

.what {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 20px;
}

audio {
  display: none;
}

@media (max-width: 600px) {
  .what {
    position: relative;
    margin: 0;
  }
}
