{% include _meta.html %}
</head>

<body>
  <div class="page">
    <header>
      <a href="/" id="my-bird"></a>
    </header>

    {% if page.is_what %}
        {{ content }}
    {% else %}

    <h2>{{ page.title }} <a id="source" href="{{ page.source_url }}" target="_blank">↗</a></h2>

      <p><span class="rating">{{ page.rating }}</span></p>

      {{ content }}

      {% if page.next %}<a id="button" href="{{ page.next.url }}">❮</a>{% endif %}
      {% if page.previous %}<a id="button" href="{{ page.previous.url }}">❯</a>{% endif %}
    {% endif %}
  </div>

  <div id="background-image"></div>

</body>
</html>
